<% include partials/header.ejs %>
<% include partials/nav.ejs %>
<link href="/fullcalendar/packages/core/main.css" rel="stylesheet" />
<link href="/fullcalendar/packages/daygrid/main.css" rel="stylesheet" />
<link rel="stylesheet" href="/fullcalendar/packages/timegrid/main.css">
<link href="/fullcalendar/packages/bootstrap/main.css" rel="stylesheet">
<link rel="stylesheet" href="/stylesheets/datetimecustom.css">


<% include partials/appontment_modals.ejs %>

<% include partials/scripts.ejs %>

<script src="/javascripts/external/moment.js"></script>
<script src="/javascripts/external/jquery_ui.custom.min.js"></script>
<script src='/fullcalendar/fullcalendar.min.js'></script>

<!-- Assign Appointments to js file -->
<script>
	var all_ev= [];
	let single={};
</script>
<% appointments.forEach(appointment=> { %>
	<script>
		single= {
			id: '<%- appointment.id %>',
			date_from: '<%- appointment.date_from %>',
			date_to: '<%- appointment.date_to %>',
			status: '<%- appointment.status %>',
			doctor_fname: '<%- appointment.doctor_fname %>',
			doctor_lname: '<%- appointment.doctor_lname %>',
			doctor_role: '<%- appointment.doctor_role %>',
			doctor_phone: '<%- appointment.doctor_phone %>',
			doctor_email: '<%- appointment.doctor_email %>',
			color: 'blue'
		};
		all_ev.push(single);
	</script>
<% }); %>

<script>
	let fillEvents= (calendar)=> {
		all_ev.forEach(element=> {
			calendar.addEvent(element);
		});	
	}
</script>

<div class="container my-5">
  <div class="row">
      <div class="col-xs-12 col-md-12">
          <div id="calendar"></div>
      </div>
  </div>
</div>

<script src="/fullcalendar/packages/core/main.js"></script>
<script src="/fullcalendar/packages/interaction/main.js"></script>
<script src="/fullcalendar/packages/daygrid/main.js"></script>
<script src="/fullcalendar/packages/timegrid/main.js"></script>
<script src="/fullcalendar/packages/list/main.js"></script>
<script src="/fullcalendar/packages/core/locales/sr.js"></script>
<script src="/fullcalendar/packages/bootstrap/main.js"></script>

<script src="/javascripts/external/jquery-ui.min.js">

</script>

<link href="/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css" rel="stylesheet">
<script src="/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script src="/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.rs-latin.js"></script>


<script src="/javascripts/external/moment.js"></script>
<script src="/javascripts/calendar_conf.js"></script>
<script src="/javascripts/appointments.js"></script>
<%# include partials/footer %>
